@font-face {
    font-family: Monserrat-Italic;
    src: url('Montserrat-Italic.ttf');
}
@font-face {
    font-family: Monserrat-SemiBold;
    src: url('Montserrat-SemiBold.ttf');
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100vw;
    font-family: Monserrat-SemiBold;
    background-color: black;
}
video {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: -1;
}
#toasty {
    animation: wijii 2s 6s;
    bottom: 0;
    height: 25vh;
    position: fixed;
    right: -25vh;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}
.mono {
    animation: mover 3s infinite;
    cursor: pointer;
    height: 200px;
    margin: 0 0 70px 0;
    opacity: .6;
    transform: rotate(-10deg) rotateY(10deg);
    width: 200px;
}
.mono:active {
    filter: contrast(2);
}
.redes {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.redes img {
    height: 70px;
    padding: 20px;
    width: 70px;
}

@keyframes mover {
    50% {
        transform: rotate(10deg) rotateX(10deg);
    }
}
@keyframes wijii {
    50% {
        right: 0;
    }
}
.megacontenedor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    color: #1db954;
    margin: 0;
    padding: 0;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: .5s;
    animation: uno 1s 5.5s forwards;
    display: none;
}
@keyframes uno {
    100% {
        opacity: 0;
    }
}
#right {
    position: fixed;
    right: 0;
    top: 5vh;
}
#right div {
    margin: 25px 0;
    background-color: #333;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    transition: 1s;
}
#right img {
    height: 50px;
    padding: 7px;
}
#right img:active {
    box-shadow: none;
    transform: translateY(2px);
}